In [1]:
import pandas as pd
import numpy as np

In [2]:
#set up path to all the files
path = '../Data/Raw/2019_nCoV_20200121_20200206.csv'
df = pd.read_csv(path)

In [3]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877 entries, 0 to 1876
Data columns (total 7 columns):
Province/State    1418 non-null object
Country/Region    1877 non-null object
Last Update       1877 non-null object
Confirmed         1847 non-null float64
Suspected         88 non-null float64
Recovered         1001 non-null float64
Death             878 non-null float64
dtypes: float64(4), object(3)
memory usage: 102.8+ KB

In [5]:
#filled null values of Confirmed, Recovered, Death and Suspected with 0
df['Confirmed'] = df['Confirmed'].fillna(0)
df['Recovered'] = df['Recovered'].fillna(0)
df['Suspected'] = df['Suspected'].fillna(0)
df['Death'] = df['Death'].fillna(0)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877 entries, 0 to 1876
Data columns (total 7 columns):
Province/State    1418 non-null object
Country/Region    1877 non-null object
Last Update       1877 non-null object
Confirmed         1877 non-null float64
Suspected         1877 non-null float64
Recovered         1877 non-null float64
Death             1877 non-null float64
dtypes: float64(4), object(3)
memory usage: 102.8+ KB

In [6]:
#change last update to datetime
df['Last Update'] = pd.to_datetime(df['Last Update'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877 entries, 0 to 1876
Data columns (total 7 columns):
Province/State    1418 non-null object
Country/Region    1877 non-null object
Last Update       1877 non-null datetime64[ns]
Confirmed         1877 non-null float64
Suspected         1877 non-null float64
Recovered         1877 non-null float64
Death             1877 non-null float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 102.8+ KB

In [7]:
#We see that there should be more wrangling involved to fix the inconsistency based on last Update
#this is a result of inconsistent time for sending updates for each country/state
df.groupby(['Last Update']).sum().head(20)

                     Confirmed  Suspected  Recovered  Death
Last Update
2020-01-21 00:00:00      332.0      169.0        0.0    0.0
2020-01-22 12:00:00      555.0      137.0        0.0    0.0
2020-01-23 12:00:00      653.0      144.0       30.0   18.0
2020-01-24 00:00:00      881.0      115.0       34.0   26.0
2020-01-24 12:00:00      939.0      159.0       36.0   26.0
2020-01-24 16:00:00        2.0        0.0        0.0    0.0
2020-01-25 00:00:00     1354.0       73.0       38.0   41.0
2020-01-25 12:00:00     2301.0      810.0       45.0   46.0
2020-01-25 22:00:00     1156.0        0.0       43.0   52.0
2020-01-26 11:00:00     2116.0      383.0       52.0   56.0
2020-01-26 23:00:00     2794.0        0.0       54.0   80.0
2020-01-27 09:00:00     2886.0        0.0       59.0   81.0
2020-01-27 19:00:00     2927.0        0.0       61.0   82.0
2020-01-27 20:30:00     4473.0        0.0       63.0  107.0
2020-01-28 13:00:00     4690.0        0.0       79.0  106.0
2020-01-28 18:00:00     5579.0        0.0      107.0  131.0
2020-01-28 23:00:00     6056.0        0.0      110.0  132.0
2020-01-29 13:30:00     6164.0        0.0      112.0  132.0
2020-01-29 14:30:00     6165.0        0.0      126.0  133.0
2020-01-29 21:00:00     7783.0        0.0      133.0  170.0

In [8]:
#first we should sort the values by 'Last Update'
df = df.sort_values('Last Update').reset_index()
df = df.drop(columns = ['index'])

In [9]:
#verify the sorting
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Washington,United States,2020-01-21,1.0,0.0,0.0,0.0
1,Shanghai,Mainland China,2020-01-21,9.0,10.0,0.0,0.0
2,Yunnan,Mainland China,2020-01-21,1.0,0.0,0.0,0.0
3,Beijing,Mainland China,2020-01-21,10.0,0.0,0.0,0.0
4,Taiwan,Taiwan,2020-01-21,1.0,0.0,0.0,0.0

In [10]:
#function to fix the inconsistency by forward filling values of missing location during each time frame


#create a dictionary to update the new dataframe
update = {}
#inital state of dataframe
new_df = {'Province/State': [], 'Country/Region': [], 'Last Update': [], 'Confirmed': [], 'Suspected': [], 'Recovered':[], 'Death': []}
#the current time
curr = df['Last Update'][0]

#loop through the dataframe and if the last update time does not equal to current time we update the new dataframe 
for index, row in df.iterrows():
    if curr != row['Last Update']:
        #loop through the dictionary and update the "Last Update" with curr
        for key1, value1 in update.items():
            update[key1]['Last Update'] = curr
            #loopthough the dictionary inside update dictionary and append the values onto the new dataframe
            for key2, value2 in value1.items():
                new_df[key2].append(value2)
        #update the current time to the new update
        curr = row['Last Update']
    #add the values to updated dataframe
    key = (row['Province/State'], row['Country/Region'])
    update[key] = row

#the last part is missing from data is should be updated
for key1, value1 in update.items():
            update[key1]['Last Update'] = curr
            for key2, value2 in value1.items():
                new_df[key2].append(value2)

In [11]:
df = pd.DataFrame(new_df)
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Washington,United States,2020-01-21,1.0,0.0,0.0,0.0
1,Shanghai,Mainland China,2020-01-21,9.0,10.0,0.0,0.0
2,Yunnan,Mainland China,2020-01-21,1.0,0.0,0.0,0.0
3,Beijing,Mainland China,2020-01-21,10.0,0.0,0.0,0.0
4,Taiwan,Taiwan,2020-01-21,1.0,0.0,0.0,0.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15710 entries, 0 to 15709
Data columns (total 7 columns):
Province/State    10745 non-null object
Country/Region    15710 non-null object
Last Update       15710 non-null datetime64[ns]
Confirmed         15710 non-null float64
Suspected         15710 non-null float64
Recovered         15710 non-null float64
Death             15710 non-null float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 859.3+ KB

In [13]:
df.groupby(['Last Update']).sum().head(20)

                     Confirmed  Suspected  Recovered  Death
Last Update
2020-01-21 00:00:00      332.0      169.0        0.0    0.0
2020-01-22 12:00:00      555.0      137.0        0.0    0.0
2020-01-23 12:00:00      653.0      144.0       30.0   18.0
2020-01-24 00:00:00      881.0      127.0       34.0   26.0
2020-01-24 12:00:00      939.0      171.0       36.0   26.0
2020-01-24 16:00:00      941.0      171.0       36.0   26.0
2020-01-25 00:00:00     1355.0       80.0       38.0   41.0
2020-01-25 12:00:00     1439.0      411.0       39.0   42.0
2020-01-25 22:00:00     1772.0      411.0       49.0   54.0
2020-01-26 11:00:00     2117.0      390.0       52.0   56.0
2020-01-26 23:00:00     2795.0        7.0       54.0   80.0
2020-01-27 09:00:00     2887.0        7.0       59.0   81.0
2020-01-27 19:00:00     2933.0        7.0       61.0   82.0
2020-01-27 20:30:00     4479.0        7.0       63.0  107.0
2020-01-28 13:00:00     4696.0        7.0       79.0  106.0
2020-01-28 18:00:00     5584.0        7.0      107.0  131.0
2020-01-28 23:00:00     6063.0        7.0      110.0  132.0
2020-01-29 13:30:00     6171.0        7.0      112.0  132.0
2020-01-29 14:30:00     6171.0        7.0      126.0  133.0
2020-01-29 21:00:00     7789.0        7.0      133.0  170.0

Now we have a more consistent, cumulative increase in cases for confirmed, recovered, and death

In [14]:
df.to_csv('../Data/Processed/Processed.csv')